# Flask Settings
#
# Configurations defined here are restricted to Flask Environment Variables.
#
# Environment Variables: http://flask.pocoo.org/docs/1.0/config/#configuring-from-environment-variables
#
# For PyCaptive variables, see pycaptive_settings.py.

import os

DEBUG=False
# If DEBUG=True, define a fixed SECRET_KEY, in order to avoid
# possible conflicts, for this option launches two instances
# of a Flask app and both will have different secrets.
#
# Like this:
#
# SECRET_KEY=b'bN_(/_3#@-,lK2cpO-\,c3.?'
SECRET_KEY=os.urandom(24)
