{% extends "base.html" %}

{% block title %}
  PyCaptive - Login
{% endblock %}

{% block css_content %}

      #central img {
          height: 200px;
          width: 260px;
          padding-top: 50px;
          padding-bottom: 10px;
          display: block;
          margin-left: auto;
          margin-right: auto;
      }

      #central #login { text-align: center; }

      #login input[type="text"],
      #login input[type="password"] {
          text-align: center;
      }

      #login input[type="submit"] { width: 240px; }

      #login input { margin-top: 7px; }

      #login_status {
          text-align: center;
          color: #000000;
          font-size: 24;
      }

{% endblock %}

{% block content %}

    <img src="/static/pycaptive_logo.png"> </img>
    <div id="login">
      <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
	<input type="submit" name="login" value="Login">
      </form>
    </div>
    <h3 id="login_status"> {{ login_msg }} </h3>

{% endblock %}
