{% extends "base.html" %}

{% block title %}
  PyCaptive - Welcome
{% endblock %}

{% block css_content %}

      #status {
        width: 100%;
        position: absolute;
      }

      #welcome  {
        margin-top: 50px;
        text-align: center;
	color: #3399ff;
	font-size: 34px;
      }

      #message  {
        text-align: center;
	color: #ff0000;
	font-size: 24px;
      }

{% endblock %}

{% block content %}
    <div id="status">
        <h1 id="welcome"> Welcome! </h1>
        <h1 id="message"> Session expires in 12hs. </h3>
    </div>
{% endblock %}
