{% extends "base.html" %}

{% block title %}
  PyCaptive - Welcome
{% endblock %}

{% block css_content %}

      #status {
        width: 100%;
        position: absolute;
      }

      #welcome, #session_info  {
        text-align: center;
      }

      #welcome {
        margin-top: 50px;
        color: #3399ff;
        font-size: 34px;
      }

      #message  {
        text-align: center;
        color: #ff0000;
        font-size: 24px;
      }

      fieldset {
        width: 250px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;
        padding-bottom: 15px;
	border: 1px solid grey;
        border-radius: 10px;
        background-color: #ffffff;
      }

      fieldset table {
        margin-left: auto;
        margin-right: auto;
      }

      fieldset table td {
        padding-top: 4px;
        padding-bottom: 4px;
        color: #4d4d4d;
      }

      .field {
        font-size: 10px;
        text-align: right;
      }

      .data {
        padding-left: 10px;
        margin-left: auto;
        margin-right: auto;
	font-size: 10px;
        font-weight: bold;
      }

      #session_info {
        margin-top: 30px;
        color: red;
        font-size: 30px;
      }


{% endblock %}

{% block content %}
    <div id="status">
	<h1 id="welcome"> Welcome, {{ userdata["UserName"] }}! </h1>

        <fieldset align="middle">
          <table>

            <tr>
	      <td class="field">Session ID:</td>
	      <td class="data">{{ userdata["_id"] }}</td>
            </tr>

            <tr>
	      <td class="field">Login Time:</td>
	      <td class="data">{{ userdata["LoginTime"] }}</td>
            </tr>

            <tr>
	      <td class="field">Expire Time:</td>
	      <td class="data">{{ userdata["ExpireTime"] }}</td>
            </tr>

            <tr>
	      <td class="field">IP Address:</td>
	      <td class="data">{{ userdata["IpAddress"] }}</td>
            </tr>

            <tr>
	      <td class="field">Device:</td>
	      <td class="data">{{ userdata["UserData"]["device"] }}</td>
            </tr>

            <tr>
	      <td class="field">Brand:</td>
	      <td class="data">{{ userdata["UserData"]["brand"] }}</td>
            </tr>

            <tr>
	      <td class="field">Family:</td>
	      <td class="data">{{ userdata["UserData"]["family"] }}</td>
            </tr>

            <tr>
	      <td class="field">OS:</td>
	      <td class="data">{{ userdata["UserData"]["os"] }}</td>
            </tr>

            <tr>
	      <td class="field">Browser:</td>
	      <td class="data">{{ userdata["UserData"]["browser"] }}</td>
            </tr>

          </table>
        </fieldset>
	<h1 id="session_info"> Session expires at {{ userdata["ExpireTime"] }}! </h1>

    </div>
{% endblock %}

{% block script_area %}
  <script type="text/javascript">
alert("Session expires in 12 hours: {{ userdata["ExpireTime"] }}");
  </script>
{% endblock %}
